.identified-song {
  animation: slideUp 0.7s ease;
  background: rgb(238, 236, 236);
  display: grid;
  border-radius: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  gap: 6px;
  padding: 14px 20px;
  min-height: 134px;
  grid-template-areas: "song-artwork song-info-wrapper"
  "song-artwork song-info-wrapper";
  box-shadow: 10px 10px 20px rgba(0,0,0,.25),inset 1px 1px 0 hsla(0,0%,100%,.25);
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: absolute;
  bottom: 12vh;
}

.identified-song .song-artwork {
  height: 130px;
  width: 130px;
}

.song-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: song-info-wrapper;
}

.song-info-wrapper > * {
  margin: 8px 15px 4px;
}

@keyframes slideUp {
  from{
    opacity: 0;
    transform: translateY(30%);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}