.vizualizer{
  height: 50px;
  width: auto;
  display:flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-color: white;
  width: 4px;
  height: 3px;
  max-height: 3px;
  border-radius: 3px;
  transform: scaleY(1);
  transition: max-height 1s ease, height 1s ease;
}

.line.isRecording {
  transition: max-height 1s ease;
  max-height: 43px;
  height: 43px;
  transform: scaleY(.5);
}